[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kde_cdemu
Icon=media-optical
Comment=A KDE Frontend to CDEmu
Comment[de]=Eine KDE Oberfläche für CDEmu
Comment[es]=Entorno grafico KDE de CDEmu
Comment[pl]=Graficzne zarządzanie CDEmu
Comment[ro]=O interfaţă KDE pt. CDEmu
Comment[ru]=Интерфейс KDE для CDEmu
Terminal=false
Name=KDE CDEmu Manager
Name[ru]=KDE CDEmu Менеджер
GenericName=Manage virtual drives
GenericName[de]=Virtuelle Laufwerke verwalten
GenericName[es]=Manejador de unidades virtuales
GenericName[pl]=Zarządzanie napędami wirtualnymi
GenericName[ro]=Administrează unităţile virtuale
GenericName[ru]=Управление виртуальными приводами
Categories=System;Qt;KDE;
X-DBUS-StartupType=Unique
